*{
    padding: 0px;
    margin: 0px;
}

header{
    background-color: rgb(95, 48, 14);
    height: 50px;
    display: flex;
    align-items: center;
    box-shadow: 1px 0px 10px #403939;
}

header p{
    margin-left: 15px;
    color: white;
}

.login-form {
    border: 1px solid black;
    width: 600px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    text-align: center;
}