*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: white;
}
header{
    background-color: #422C0B;
    height: 80px;
    display: flex;
    align-items: center;
    font-size: 18pt;
    justify-content: space-between;
}
header p{
    margin-left: 25px;
    color: white;
}
header img {
    width: 50px;
    display: flex;
    margin-right: 10px;    
}
.sidebar {
    position: fixed;
    left: 5px;
    bottom: 5px;
    top: 85px;
    background-color: #422C0B;
    width: 190px;
    z-index: 200;
    padding-top: 5px;
    border-radius: 40px;
}
.sidebar-link {
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.sidebar-link:hover {
    background-color: #422C0B;
    border-radius: 40px;
}
.sidebar-link img {
    height: 25px;
    margin-bottom: 4px;
}
.sidebar-link div {
    font-size: 15px;
    color: white;
}
.carrito {
    text-decoration: none;
}
.content {
    width: calc(100vw - 240px);
}
.chips-wrapper {
    background-color: transparent;
    display: flex;
    margin-left: 230px;
    margin-top: 37px;
}
.chip a {
    color: #422C0B;
    margin: 15px;
    cursor: pointer;
    text-decoration: none; 
}
.txt {
    color: #422C0B;
    text-align: center;
    margin-top: 200px;
    margin-left: 140px;
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.txt h1 {
    font-weight: bold;
    font-size: 50pt;
}

 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  .SiböHistoria{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50pt; color:#422C0B;
    background-color: transparent;
    border-color: transparent  
}