body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    text-align: center;
  }

  header {
    background-color: #422C0B;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

  nav {
    background-color: #6d4a15;
    border: 1px solid #000000;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  nav a {
    color: #ffffff;
    text-decoration: none;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
  }

  article {
    background-color: #f2f2f2;
    border: 1px solid #000000;
    margin: 10px;
    padding: 10px;
    width: 300px;
  }

  article img {
    width: 100%;
  }

  article h2 {
    margin-top: 0;
  }

  article p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 0;
  }

  article button {
    background-color: #333;
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
  }

  article button:hover {
    background-color: #3b3b3b31;
    color: #000000;
  }

  footer {
    background-color: #ffffff;
    color: #fff;
    padding: 10px;
    text-align: center;
  }


.cruds{
  display: flex;
   margin-top: 100px;
   height: 400px;
   justify-content: space-around ;
   align-items: center;
}
.cruds a { 
  height: 200px;
  width: 400px;
  border-radius: 10px;
  border-style: none;
  background-color: #422C0B;
  color: white;
  font-size: 17pt;
  opacity: 0.6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
}
.cruds a:hover{ 
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s linear;
}


.cruds a > img{
  height: 100px;
}
